
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# ignore local environment variable file
.env

# ingore built executables
bin/

# Test binary, built with `go test -c`
*.test

# IDEs and editors
.idea/*